[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggview"]
	path = ggview
	url = https://github.com/idmn/ggview
[submodule "wfindr"]
	path = wfindr
	url = https://github.com/idmn/wfindr
